<table class="w-full text-center">
   <thead>
     <tr>
       <th class="rounded-tl-lg">Player Name</th>
       <th class="rounded-tr-lg">Player Name</th>
     </tr>
   </thead>
   <tbody>
     {{#each players}}
      <tr>
        <td>{{this.name}}</td>
        <td>Name of the player</td>
      </tr>
    {{/each}}
   </tbody>
 </table>