<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fantasy Football Draft - Team Redis</title>
  

  <link rel='stylesheet' href='https://d33wubrfki0l68.cloudfront.net/css/eb806b3c30e0754650136bd1f683106530fcf9e6/css/site.css'/>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src=''></script>
</head>
<body>
  <div class="container">
    

<nav class="flex items-center justify-between flex-wrap py-8">
  <div class="flex items-center flex-no-shrink mr-6">
      <a class="text-red-600 font-semibold text-4xl tracking-normal no-underline text-center" title="Fantasy Football Draft">
          Team<span class="text-gray-800">Redis</span>
        </a>
      
  
      </div>
</nav>


    <div class="main">
      


<div class="bg-texture-red">
    <h1 class="text-white font-bold tracking-wide text-6xl px-7 pb-4 pt-8 text-shadow">
      Fantasy Football Draft</h1>
      <div class="instructions">
          <h4 class="text-black text-shadow text-center">Welcome to the fantasy football draft!
              In this game you will create a team with the best players of your choice.  Each player is assigned a value based on a range of sources predicting their fantasy values for the 2019 season.   You will have one minute per round to select your Quarterback, Runningback, 2 Wide Receivers, Tightend, Kicker, and finally Team Defense.  Choose wisely, and good luck! Kick some ass!</h4>
</div>

<div class="create-team">
    <div class="flex justify-center px-8" style="
    justify-content: center;
">
      
        <input class="input-team-name w-70 border-2 border-red-600 py-2 border-0-l rounded-l-lg font-semibold ">
        <a id="team-name" class="w-70 py-2 border-2 border-red-600 border-l-0 rounded-r-lg font-semibold text-red-600 text-center cursor-pointer tracking-wide ">Create your team name!</a>
        
     </div>
</div>

<div class="footer">
    <div class="container">
      <div class="py-6">
          

    <span class="text-red-600">
      
    </span>
  <p></p>
</div>
    </div>
  </div>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
      .footer {
         position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
         background-color: rgb(211, 35, 35);
         color: white;
         text-align: center;
      }
      
      </style>  

      </div>
    </body>
    </html>
